@mixin position($type, $side, $vertical, $horizontal){
	position: #{$type}; 
	top: #{$vertical};
	#{$side}: #{$horizontal};
}
//grid system
@mixin grid($col-count) {
	@for $i from 1 through $col-count {
		$width: 95%;

		.column-#{$i}{
			width: ($width/$i);
			float: left;
		}
	}
}
