$background:         #22313F;
$carats: 			 #A80022;
$title-background:   #EFEFEF;
$title-color:        #6C7A89;
$transparent-border: 25px solid rgba(0,168,133, 0);

//Section Colors
$color1: #0076a8;
$color2: #a80022;
$color3: #00a832;
$color4: none;

//breakpoints
$max-width: 500px;;