@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Roboto:100');
// @import '../bower/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap-custom.scss';
@import 'variables', 'extends', 'mixins';
h1{
	font-size: 1.5em;
}
html {
	padding: 0;
}
body {
	background: $background;
	padding:              0;
	margin:               0;
	height:          1500px;
}
a {
	color: inherit;
	text-decoration: inherit;
	user-select: inherit;

}
//Navbar & Title ===========================================================================

#titlediv {
	@extend           %title-font;
	text-align:            center;
	background: $title-background;
	padding-top:               3%;
	margin:                     0;
	color:           $title-color;
	font-size:              1.5em;
}

.carat {
	@extend      %carat-sides;
	width:       700px;
	border: {
		top:     25px solid $carats;
		bottom: $transparent-border;
	}

}

.invert-carat {
	@extend               %carat-sides;
	width: 700px;
	border: {
		top:    $transparent-border;
	    bottom:  25px solid #A80022;
	}
}

.navigation {
	display:           flex;
	justify-content: center;
}
#wrapper{
	width: 100%;
}
#wrapper-hidden{
	@include position(fixed, left, 0, 0);

	width: 100%;
	display: none;
	z-index: 3;
}
#navbar,
#navbar-hidden {
	padding:                0;
	background-color: #A80022;
	position:        relative;
	z-index:                2;
	.navbar-cont{
		display:           flex;
		justify-content: center;
	}
}
.navbar-fixed{
	@include position(fixed, left, 0, 0);
}
.navbar-sect {
	border-radius:                 35px;
	display:                       flex;
	justify-content:             center;
	margin: {
		top:                    10px;
	    bottom:                 10px;
	}
	background-color: $title-background;
	text-align:                  center;
}

.navbar-sect-icons{
	@extend .navbar-sect;
}
.navbar-item {
	@extend    %clickable-text;
	@extend   	   %title-font;
	display:      inline-block;
	margin:               20px;

}
.navbar-item:hover{
	color: $title-color;
}
.github{
	width: 50px;
	height: 50px;
	margin: 10px auto;
}
// Main Body ========================================================================
// Sections=======================
@include sections(4, 2%, 0);

.backdrop {
	background: $title-background;
	border-radius:           10px;
	width:                    95%;
	padding:{
		bottom: 50px;
	}
	margin:                0 auto;
}
.info-cont {
	padding-top: 60px;
}
.about,
.work,
.skills,
.contact{
	display: block;
}

#about,
#work,
#skills,
#contact {
	width: 1px;
	height: 1px;
	position: relative;
	top: -20em;
}
.info-title{
	@extend %info-title;
}
.info-item {
	@extend %info-item;
	text-indent: 2em;
	p{
		text-align: justify;
		text-justify: inter-word;
	}
}
.contact-item{
	@extend %info-item;
	a {
		color: black;
		text-decoration: underline;
	}
}
img.project{
	width: 100%;
	height: 100%;
}
.info-project {
	display: inline-block;
	margin: 0 auto;
	width: 22%;
	height: auto;
	background: $background;
}
//=======================================================================>
//======================== Media Breakpoint ==============================>
//=======================================================================>
@media screen and (max-width: $max-width) {
	.mobile-nav{
		@include position(fixed, -10%, left, 0);
		display: block;

		width: 100%;
		background: $title-background;
		height: 10%;

	}
	#titlediv {
		font-size: 1em;
	}

	.title{
		text-align: center;
		width:         90%;	
		margin:     0 auto;
		margin-bottom: -1em;

	}
	#navbar {
		display: none;
	}
	.navbar-sect{
		width: 100%;

		&:after{
			content:    "";
			display: table;
			clear:    both;
		}
	}
	.navbar-sect {
		display:                    initial;
		margin: {
			top:    50px;
			bottom: 50px;
		}
		width:                         100%;
		background-color: $title-background;
		text-align:                  center;
	}
	.navbar-sect-icons{
		display: none;
	}
	.carat{
		width: 0px;
	}
	.invert-carat {
		width: 0;
	}
	.positioner{
	width:         30px;
	height:        30px;
	@include position(absolute, right, 10%, 1em);
	
	}
	.indicator {
		margin-top: 3px;
		width: 23px;
		height: 4px;
		border-radius: 5px;
		background: black;
	}
//Main Body ===========================================================

//Sections=======================
@include sections(4, 0, 5%);


	#section1 {
		padding-top: 30%;
	}
	.info-item{
		width: 80%;
		font-size: 1.25em;
	}
	.info-project{
		display: block;
		width: 90%;
	}
	.contact-item {
		font-size: 1em
	}
}
// @media screen and (max-height: 700px){
// 	.positioner{
// 		@include position(absolute, right, 15%, 1em);
// 	}
// }
