@import '../bower/bower_components/font-awesome/scss/font-awesome.scss';
@import 'variables'; 
@import 'extends';
@import 'mixins';
@import 'sections';
@import 'navbar';

h1{
	font-size: 1.5em;
}
html {
	padding: 0;
}
body {
	background: $background;
	padding:              0;
	margin:               0;
	height:          1500px;
	
}
#main-container {
	width: 95%;
	background: $title-background;
	border-radius:           15px;
	height:                 900px;
	margin:                0 auto;

}
.about{
	background: $carats;
}

.fa.fa-bars{
	display: none;
}

@media screen and (max-width: $max-width){
	#main-container{
		padding-top: 23%;
	}
	.fa.fa-bars{
		display: inherit;
	}
}
