@import "../bower/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../bower/bower_components/font-awesome/scss/font-awesome.scss";

@import "site-vars";



html, body{
  padding:            0;
  // margin:          0;
  background: $mainBack;
}
.row {
  width: 95%;
  clear: both;
  margin: 0 auto;
}

// body{ width: 101%;}
nav {
  box-shadow: $outset;
}

section {
    width:      100%;
    clear:      both;
    display:   table;
    content:      "";
    margin-bottom: 0;
}

h1{
  color: $whitish;
}

main{
  margin:    0 auto;
  padding: {
    top:  10%;
    right: 0;
    left: 0;
  }
  width:        100%;
  @include linear-gradient(to bottom right, $mainBack,  #{$mainBack + 50});

}
.container-fluid{
    padding:{
      right: 0;
      left:  0;
    }
}

.learning {
  color: $emphasis;
  text-shadow: 0 0 3px;
}
.inline{
  display:           flex;
  justify-content: center;
}
.bigger-ico{
  margin-top:    30px;
  margin-bottom: 30px;
  font-size:      3em;
}
.divider{
    height:                      0;
    display:                 block;
    margin:             5% auto 5%;
    padding:                     0;
    max-width:               300px;
    border:                      0;
    border-top: solid 2px $whitish;
    text-align:             center;
    &::before{
      content:    "";
      display: table;
    }

    &::after{
      content:         "\f121";
      color:          $whitish;
      font-family: FontAwesome;
      display:    inline-block;
      position:       relative;
      top:               -.8em;
      padding:         0 .25em;
      font-size:         1.5em;
      box-sizing:   border-box;
      background:    $mainBack + 40;
    }
}
.divider-row{
  padding-top:    2%;
  padding-bottom: 3%;
  background: $mainBack + 40;
}

//Header
.heading {
  // @include linear-gradient(to bottom right, $mainBack, #{$mainBack + 20});
  background: $transparent;
  color: $whitish;
  * {
    text-shadow: $text;
  }
  a {
    background: $buttons;
  }
  // width:        100%;
  padding: {
    top: 5%;
    bottom: 25%;
  }
  &:nth-child(n+3){
    margin-top: 25px;
  }
}

.shadow {
  // text-shadow: $text;
}
#projects {
    margin-bottom: 10%;
}

//Projects
.project-section{
  background: ($whitish - 10);
  box-shadow:          $inset;
  padding-top: 5%;

}
.buttons {
  margin-top: 5%;
  padding-bottom: 5%;
}
.project-buttons{
  width: 100%;

  border-radius:                        10px;
  background:                       $buttons;
  border:                               none;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,.9);
  color: $whitish;

  &:hover {
    background: ($buttons - 20);
    color: $whitish - 40;
  }
  button {
    border: inherit;
    background: inherit;
    padding:{
      top: 2%;
      bottom: 2%;
    }
  }
  
}
.section-title {
  color: $emphasis;
}
//Languages
.languages {
    background: ($whitish - 10);
    box-shadow:          $inset;
    padding-top:             20%;
    padding-bottom:          20%;
}


.intro{
  margin: 0 auto;
  font-size: 2em;
  
}
.intro2{
  margin-top:    2%;
  margin-bottom: 2%;
  font-size:  1.5em;
}

.img-responsive{
    border-radius:                        25px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,.9);
}


.language-img{

  margin:           0 auto;
  margin-top:           5%;
  max-height:        250px;
  background: $transparent;
}
.projects.row{
  background: $transparent;
}

.contacts{
  background: ($whitish - 10);
  padding:{
      top: 20%;
      bottom: 20%;
  }
}
//Found on the internet,
//promptly used it to set navbar colors
.navbar-default {
  padding-left: 12%;
  padding-right: 5%;
  background-color: $bgDefault;
  border-color:   $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a, >a:focus {
        color: $colDefault;
        &:hover {
          background: $bgHighlight;
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover {
        color:           $colHighlight;
        background-color: $bgHighlight; }
      >a:focus{
        color:     $colHighlight;
        background: $bgHighlight;
        }}
    > .open {
      > a, > a:hover, > a:focus {
        color:           $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

// @media screen and (min-width: 768px){
//   main{
//     padding-top: 10%;
//   }
  
// }

@media screen and (max-width: 768px){

  .nav-brand{
    padding-left: 4%;
  }
  main{
    padding-top: 25%;
    width:       95%;
  }
  .divider{ 
    max-width:             25%;
    font-size:            .5em;
    border-top: 1px solid $nav;
  }
  #button-cont {
    width:     95%;
    margin: 0 auto;
  }
  .img-responsive{
    margin-bottom: 5%;
  }
  .intro {
    font-size: 1.5em;
  }
  .intro2{
    font-size: 1em;
  }
  nav {
    position: fixed;
    top:      0;
    left:     0;
    width: 100%;
    z-index:  5;
  }
}
