$titlebar: #28324e;
$mainBack: #475577;
$whitish: #FEFEFE;
$divider: #75706B;
html, body{
  padding: 0;
  margin: 0;
  background: $mainBack;
}

section {
    width: 100%;
    clear: both;
    display: table;
    content: "";
}

h1{
  color: $whitish;
}

main{
  margin: 0 auto;
  padding-top: 10%;
  width: 85%;
  background: $whitish;
  box-shadow: 0 0px 15px 5px; 

}
#navigation{
  width: 100%;
  height: 60px;
  background: #A80022;
  position: fixed;
  color: $whitish;
  z-index: 3;
  box-shadow: 0 1px 10px 1px black;
  & *{
    color: $whitish;
  }

}
.bigger-ico{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 3em;
}
.divider{
    height: 0;
    height: 0px;
    display: block;
    margin: 10% auto 10%;
    padding: 0;
    max-width: 600px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
    &::before{
      content:"";
      display: table;
    }

    &::after{
      content: "\f121";
      font-family: FontAwesome;
      display: inline-block;
      position: relative;
      top: -.8em;
      padding: 0 .25em;
      font-size: 2em;
      box-sizing: border-box;
      background: $whitish;
    }
}
.section1{
  width: 100%;
}
.intro{
  margin: 0 auto;
}

.img-responsive{
    border-radius: 25px;
}


.language-img{

  margin: 0 auto;
  margin-top: 5%;
  max-height: 250px;
}
.projects{
  
}


// @media screen and (min-width: 768px){
//   main{
//     padding-top: 10%;
//   }
  
// }
@media screen and (max-width: 768px){
  main{
    padding-top: 25%;
    width: 95%;
  }
  .divider{ 
    max-width: 75%;
  }
}
