@import "../bower/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../bower/bower_components/font-awesome/scss/font-awesome.scss";

$nav:       #575A5E;
$div:       #A7A2A9;
$nav-brand: #A80022;
$mainBack:  #222823;
$whitish:   #F4F7F5;
$divider:   #75706B;
html, body{
  padding: 0;
  margin: 0;
  background: $mainBack;
}

section {
    width: 100%;
    clear: both;
    display: table;
    content: "";
}

h1{
  color: $whitish;
}

main{
  margin: 0 auto;
  padding-top: 10%;
  width: 90%;
  background: $whitish; 

}
.row {
  clear: both;
}
.inline{
  display: flex;
  justify-content: center;
}
.bigger-ico{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 3em;
}
.divider{
    height: 0;
    height: 0px;
    display: block;
    margin: 5% auto 5%;
    padding: 0;
    max-width: 300px;
    border: 0;
    border-top: solid 2px $div;
    text-align: center;
    &::before{
      content:"";
      display: table;
    }

    &::after{
      content: "\f121";
      color: $div;
      font-family: FontAwesome;
      display: inline-block;
      position: relative;
      top: -.8em;
      padding: 0 .25em;
      font-size: 1.5em;
      box-sizing: border-box;
      background: $whitish;
    }
}
.section1{
  width: 100%;
  &:nth-child(n+3){
    margin-top: 25px;
  }
}
.section2{
  // .well{
  //   background: 
  // }
}
.buttons {
  margin-top: 5%;

}
.project-buttons{
  width: 100%;
  border-radius: 10px;
  background: $nav-brand;
  border-color: $nav-brand;
}
.intro{
  margin: 0 auto;
  font-size: 2em;
  
}
.intro2{
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 1.5em;
}

.img-responsive{
    border-radius: 25px;
}


.language-img{

  margin: 0 auto;
  margin-top: 5%;
  max-height: 250px;
}
.projects{
  
}
//navbar
$bgDefault   : $nav-brand;
$bgHighlight : ($nav-brand - 75);
$colDefault  : $whitish;
$colHighlight: ($whitish - 20);

//Found on the internet,
//promptly used it to set navbar colors
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

// @media screen and (min-width: 768px){
//   main{
//     padding-top: 10%;
//   }
  
// }

@media screen and (max-width: 768px){
  main{
    padding-top: 25%;
    width: 95%;
  }
  .divider{ 
    max-width: 25%;
    font-size: .5em;
    border-top: 1px solid $nav;
  }
  #button-cont {
    width: 95%;
    margin: 0 auto;
  }
  .img-responsive{
    margin-bottom: 5%;
  }
  .intro {
    font-size: 1.5em;
  }
  .intro2{
    font-size: 1em;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
  }
}
